.tasklydownload-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.version-text1 {
    font-size: clamp(18px,6vw,65px);
    text-align: center;
    margin-bottom: 25px;
}
/*Table*/
.table-scroll {
    width: 100%;
    overflow-x: visible;
    background: #f3f3f3;
    border-radius: 20px;
}

.div-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div-row {
    display: flex;
}


.div-header {
    font-weight: bold;
}

.div-cell {
    flex: 1;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
}

.taskly-version-row {
    cursor: pointer;
}

.version-wrap {
    position: relative;
    display: inline-block;
}

.current-status {
    position: absolute;
    top: -8px;
    left: 100%;
    margin-left: 6px;
    font-size: 12px;
    white-space: nowrap;
    background: black;
    color: white;
    border-radius: 10px;
    width: 92px;
    text-align: center;
}

.div-table .div-row:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

    .div-table .div-row:last-child .div-cell {
        border-bottom: none;
    }
.taskly-version-row .div-cell:last-child {
    display:flex;
    gap:40px;
}
.download-app{
    display:flex;
    gap:3px;
}
/*Pagination*/
.pagi-wrapper {
    margin-top: 15px;
}

@media (min-width: 767px) {
    .div-header .div-cell {
        font-size: 18px;
    }

    .div-cell {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .table-scroll {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border-radius: 10px;
    }

    .div-table {
        min-width: 700px;
    }

    .div-cell {
        white-space: nowrap;
    }
}

@media (max-width: 600px) {
    .version-text1 {
        margin-top: 15px;
    }
}

@media (max-width: 1280px) {
    .taskly-version-row .div-cell:last-child {
        color: var(--primary-blue);
        font-weight: 600;
        text-decoration: underline;
    }
}

@media (min-width: 1281px) {
    .div-row.taskly-version-row:hover {
        background: var(--lasttwomix);
        color: white;
        font-weight: 600;
    }
    .download-app:hover {
        text-decoration:underline;
    }
    /*.taskly-version-row:has(.current-status) .div-cell:first-child {
        color: red;
    }*/
}

